@import "tailwindcss";
*{
   color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input{
color: black;
}
@media (max-width:564px){
.passinput{
    border-radius: 12px;
    margin-bottom: 2px;
    width: 100%;
 }
.passbtn{
    border-radius: 12px;
 }
}
@media (min-width:525px){
    .botdiv{
        display: grid;
        grid-template-columns: 200px 200px;
    }
}
/* 
'xs': '475px'
'sm': '640px'
'md': '768px'
'lg': '1024px'
'xl': '1280px'
'2xl': '1536px' */